*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgba(0, 128, 0, 0.656);
    
}

header{
    display: flex;
    height: 10%;
}


aside ul{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

aside li{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

aside a{
    font-size: 1.8vw;
}


main{
    display: flex;
    height: 80%;
}

main aside{
    width: 20vw;
}
article img{
    width: 100%;
    height: auto;
    border: 0.2em solid black;
    border-radius: 0.5em;
}

article{
    overflow: scroll;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-left: 2em;
    border: 0.2vw solid black;
    border-radius: 0.8em;
    background-color: rgba(0, 128, 0, 0.197);
}

article section{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

article ul{
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

h1{
    font-size: 3.5vw;
}
h2{
    font-size: 2.5vw;
}

h3{
    font-size: 2vw;
}

h4{
    font-size: 1vw;
    text-align: center;
}

article p, article a{
    font-size: 0.7vw;
}

article li {
    list-style-type: none;
    display: grid;
    grid-template-rows: 60% 40%;
    align-items: center;
    justify-items: center;
    width: 10vw;
    
}

article li div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article a, aside a{
    text-decoration: none;
    padding: 0.2em;
    background-color: rgb(255, 228, 196);
    color: black;
    border-radius: 0.5em;
    border: 0.1em solid black;
}

aside a{
    width: 80%;
    text-align: center;
}
footer{
    display: flex;
    height: 10%;
}